//dependencies
@import "./mixins//media-queries.scss";
@import "./variables/colors.scss";
@import "./variables/sizes.scss";

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 0.5em;
    @include mix-below($screen-w-large) {
        background-color: $color-grey-dark;
        color: $color-white;
    }
}

h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.sorting-app {
    display: flex;
    flex-direction: column;
    @include mix-below($screen-w-large) {
        padding: 0 1em;
    }
    @include mix-above($screen-w-large) {
        border-top: 5px solid $color-grey-light;
        background-color: $color-white-tint;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.sorting-app-controls {
    text-align: center;
    margin: 16px;
    padding: 0 1em;
    flex-grow: 0;
    @include mix-above($screen-w-large) {
        max-width: 160px;
        line-height: 50px;
        flex-grow: 1;
        > :first-child {
            margin: 16px 0;
        }
    }
}

.sorting-app-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    @include mix-above($screen-w-large) {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
        width: 700px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.button {
    cursor: pointer;
    background-color: $color-brand-1;
    padding: 1em;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 0 $color-brand-2;
    color: $color-white;
    min-height: 40px;
    min-width: 80px;
    text-transform: uppercase;
    @include mix-above($screen-w-large) {
        min-width: 185px;
    }
    &:hover {
        box-shadow: 0 4px 0 $color-brand-2;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 1px 0 $color-brand-2;
        transform: translateY(2px);
    }
}

@keyframes item-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.sorting-app-item {
    margin: 0;
    padding: 0;
    @include mix-below($screen-w-large) {
        margin-bottom: 3px;
    }
    @include mix-above($screen-w-large) {
        animation: item-in 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3332%;
        height: 220px;
        position: relative;
    }
}

.sorting-app-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mix-below($screen-w-large) {
        background-color: $color-white-tint;
        margin-left: 10px;
        width: calc(100% - 10px);
        height: 2em;
        text-align: center;
        padding: 0.3em;
    }
    @include mix-above($screen-w-large) {
        font-size: 120px;
        color: $color-white;
    }
}

.footer {
    padding: 0.8em;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    @include mix-above($screen-w-large) {
        background-color: $color-white-tint;
    }
}
