
$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #333333;

$color-white-tint: #efefef;
$color-grey-light: #bfbfbf;

$color-brand-1: #72c3dc;
$color-brand-2: #2b8ead;
$color-brand-3: #6f98a8;
$color-brand-4: #2f454e;

$color-map: (
  color-1: $color-brand-3,
  color-2: $color-brand-2,
  color-3: $color-brand-4,
  color-4: $color-brand-2,
  color-5: $color-brand-4,
  color-6: $color-grey-light,
  color-7: $color-grey-light,
  color-8: $color-brand-3,
  color-9: $color-brand-4
);

@each $name, $value in $color-map {
  .#{$name} {
    background-color: $value;
  }
}
