@mixin mix-above($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
@mixin mix-below($breakpoint) {
    @media screen and (max-width: $breakpoint - 1) {
        @content;
    }
}